 body{background-color: red;}


 .title{
    font-size: 3em; color: blue;   }
    
 .logo {
        width: 200px;
        height: 200px;
     }
        
 .cards{
            
 border : 2px solid black;
 width: fit-content;  
 padding: 0px 1em 0px 1em;
 border-radius: 8%;
 display : flex;
 flex-direction: column;
 gap : 1em;
 align-items: center; 
 
}

            
 .cards :hover{
 background-color:blue;}
        



 #principal {
 font-size: 20px; color: brown;
 }


    
 #titulos
 {
 width: 80vw;
 margin: auto;
 padding: 4em;
 display: flex;
 flex-direction: column;
 aling-items : center;
 }
        
 #cards-container{
    
    width: 85vw;
    margin : auto;
    margin-top: 1.5em;
    border : 5px solid black;
    border-radius: 10%;
    padding: 2em;
    display : flex;
    flex-direction : row;
    justify-content : space-evenly; 
}  
     

